{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Create Post
{% endblock %}

{% block content %}

		<form method="POST">
			<h2 class="form-signin-heading">Create Post</h2>
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.title) }}
			{{ wtf.form_field(form.slug) }}
			{{ wtf.form_field(form.category) }}
			{{ wtf.form_field(form.body) }}
			{{ wtf.form_field(form.create_post) }}
		</form>
		<script>
			// Replace the <textarea id="editor1"> with a CKEditor
			// instance, using default configuration.
			CKEDITOR.replace( 'body', {height: 400} );
		</script>
{% endblock %}