{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block title %}
Create Post
{% endblock %}

{% block admin_content %}

		<form method="post" class="well" style="padding-bottom: 1em;">
			<h2 class="form-signin-heading">Create Draft</h2>
			{{ form.hidden_tag() }}
			{{ render_field(form.title, class="form-control") }}
			{{ render_field(form.slug, class="form-control") }}
			{{ render_field(form.category, class="form-control") }}
			{{ render_field(form.body, class="form-control") }}
			{{ render_submit(form.create_draft, class="btn btn-md btn-primary") }}
		</form>
		<script>
			// Replace the <textarea id="editor1"> with a CKEditor
			// instance, using default configuration.
			CKEDITOR.replace( 'body', {height: 400} );
		</script>
{% endblock %}