{% extends "../base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
Create Post
{% endblock %}

{% block content %}

		<form method="POST">
			<h2 class="form-signin-heading">Create Post</h2>
			{{ form.hidden_tag() }}
			{{ render_field(form.title, class="form-control") }}
			{{ render_field(form.slug, class="form-control") }}
			{{ render_field(form.category, class="form-control") }}
			{{ render_field(form.body, class="form-control") }}
			{{ render_field(form.create_post, class="btn btn-lg btn-primary btn-block") }}
		</form>
		<script>
			// Replace the <textarea id="editor1"> with a CKEditor
			// instance, using default configuration.
			CKEDITOR.replace( 'body', {height: 400} );
		</script>
{% endblock %}
BlockWoodsWenzel4/8/16